# Configuración de Base de Datos MySQL en AWS RDS
MYSQL_HOST=database-2.c5ks6s0kal3v.us-east-1.rds.amazonaws.com
MYSQL_USER=admin
MYSQL_PASSWORD=123456789
MYSQL_DB=hackaton

# Puerto de la aplicación
PORT=5000
